:root {
  --main-color: #030D15;
  --main-font: Hind Siliguri, sans-serif;
  --size-about: 14px;
}

/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

.header__nav {
  padding-top: 32px;
  margin-bottom: 85px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-weight: 500;
  font-size: var(--size-about);
}

.nav__menu {
  display: flex;
  gap: 40px;
}

.nav__li a {
  display: flex;
  gap: 8px;
}

.shops {
  display: flex;
  gap: 30px;
  align-items: center;
}

.header__row {
  display: flex;
  gap: 30px;
  margin-bottom: 40px;
}

.first__row {
  display: flex;
  flex-direction: column;
}

.header__about-top {
  margin-top: 75px;
  font-weight: 500;
  font-size: 16px;
  color: #C72535;
  letter-spacing: 2.32px;
  text-transform: uppercase;
}

.header__title {
  color: var(--main-color);
  font-size: 61px;
  font-weight: 400;
  line-height: 73.2px;
  max-width: 555px;
  margin-bottom: 30px;
}

.header__span {
  color: #247CC0;
  font-weight: 600;
}

.header__title-about {
  max-width: 515px;
  color: var(--main-color);
  font-size: 20px;
  font-weight: 400;
  opacity: 0.6;
  margin-bottom: 35px;
}

.header__btn {
  display: flex;
  gap: 30px;
  align-items: center;
}

.header-btn {
  color: #FFF;
  padding: 16px 35px;
  background: #247CC0;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}

.price-wrapper {
  display: flex;
  gap: 20px;
  font-size: 20px;
}

.closed {
  font-size: 16px;
  display: flex;
  align-items: center;
  opacity: 0.5;
  text-decoration: line-through;
}

.logos__line {
  display: flex;
  gap: 84px;
  justify-content: center;
  padding-bottom: 76px;
  box-shadow: 0px -1.73968px 1.20532px 0px rgba(174, 174, 174, 0.02), 0px 0.19008px 4.14347px 0px rgba(174, 174, 174, 0.03), 0px 6.77214px 9.61331px 0px rgba(174, 174, 174, 0.04), 0px 19.8401px 19.14056px 0px rgba(174, 174, 174, 0.05), 0px 43.751px 36.44142px 0px rgba(174, 174, 174, 0.06), 0px 100px 80px 0px rgba(174, 174, 174, 0.08);
}

.header {
  margin-bottom: 130px;
}

.always__in__style-row {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 160px;
}

.always__item {
  display: flex;
  gap: 30px;
}

.always__in__style-about {
  max-width: 255px;
}

.always__title {
  font-size: 25px;
  font-weight: 600;
  margin-top: 35px;
  margin-bottom: 10px;
}

.always__about {
  font-size: 14px;
  font-weight: 400;
  opacity: 0.6;
  margin-bottom: 20px;
}

.always-price {
  font-size: 16px;
  margin-bottom: 15px;
}

.always-closed {
  font-size: 14px;
  margin-bottom: 15px;
}

.shop__now-row {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 100px;
}

.shop__now-item {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: linear-gradient(257deg, #008BF0 -13.2%, #D943C9 130.95%);
}

.shop__item-row {
  display: flex;
  position: relative;
}

.shop__item__first-row {
  padding-left: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.shop__above-text {
  color: #F4F9FC;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  opacity: 0.6;
  margin-bottom: 5px;
  padding-top: 75px;
  padding-right: 280px;
}

.shop__now-title {
  max-width: 250px;
  color: #F4F9FC;
  font-size: 31px;
  font-weight: 600;
  line-height: 40.3px;
  margin-bottom: 7px;
}

.shop__now-link {
  color: #F4F9FC;
  font-size: 14px;
  font-weight: 500;
  line-height: 27px;
  text-transform: uppercase;
  padding-bottom: 75px;
}

.shop__item__sec-row {
  padding-left: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  left: 40%;
}

.drone {
  top: 0;
}

.camera {
  top: 10%;
}

.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 130px;
}

.main {
  background: url(../../img/images/backg.jpg);
  background-size: auto 600px;
  background-position: bottom;
  background-repeat: no-repeat;
  margin-bottom: 125px;
}

.girl__img {
  background: url(../../img/images/girlvector.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  overflow: hidden;
  background-size: contain;
}

.about__text {
  margin-top: 45px;
  font-weight: 500;
  font-size: 14px;
  color: #C72535;
  letter-spacing: 2.32px;
  text-transform: uppercase;
}

.about__title {
  color: var(--main-color);
  font-size: 44px;
  font-weight: 600;
  margin-bottom: 30px;
}

.description:first-child {
  padding-top: 85px;
}

.description + * {
  margin-top: 35px;
}

.description {
  color: var(--main-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  opacity: 0.6;
}

.pluses {
  color: var(--main-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 27px;
}

.plus-li {
  display: flex;
  gap: 13px;
  align-items: flex-start;
  max-width: 375px;
  margin-bottom: 20px;
}

.arrow__img {
  transform: translateY(5px);
}

.container {
  width: 1236px;
  margin: 0 auto;
  font-family: var(--main-font);
}/*# sourceMappingURL=main.css.map */