:root {
  --main-color: #030D15;
  --main-font: Hind Siliguri, sans-serif;
  --size-about: 14px;
}

/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

a:visited {
  color: inherit;
  text-decoration: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

.container {
  width: 1236px;
  margin: 0 auto;
  font-family: var(--main-font);
}

.link {
  transition: border-bottom 0.3s ease-in-out, color 0.3s ease-in;
  position: relative;
}

.link::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  border-bottom: 2px solid rgb(216, 212, 212);
  transition: width 0.3s ease-in-out;
}

.link:hover {
  color: rgb(234, 160, 236);
}

.link:hover::after {
  width: 100%;
}

.svg {
  fill: transparent;
  transition: fill 0.3s ease-in-out;
}

.svg:hover {
  fill: rgb(234, 160, 236);
}

.zoom {
  transition: transform 0.2s;
}

.zoom:hover {
  transform: scale(1.1);
}

.hide {
  display: none !important;
  opacity: 1;
  animation-name: a1;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.activatedB {
  height: 60vh !important;
}

@keyframes a1 {
  to {
    opacity: 0;
    min-height: 0;
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
  }
}
.header__nav {
  padding-top: 32px;
  margin-bottom: 85px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-weight: 500;
  font-size: var(--size-about);
}

.nav__menu {
  display: flex;
  gap: 40px;
}

.nav__li a {
  display: flex;
  gap: 8px;
}

.shops {
  position: relative;
  display: flex;
  gap: 30px;
  align-items: center;
}

.header__row {
  display: flex;
  gap: 30px;
  margin-bottom: 40px;
}

.first__row {
  display: flex;
  flex-direction: column;
}

.header__about-top {
  margin-top: 75px;
  font-weight: 500;
  font-size: 16px;
  color: #C72535;
  letter-spacing: 2.32px;
  text-transform: uppercase;
}

.header__title {
  color: var(--main-color);
  font-size: 61px;
  font-weight: 400;
  line-height: 73.2px;
  max-width: 555px;
  margin-bottom: 30px;
}

.header__span {
  color: #247CC0;
  font-weight: 600;
}

.header__title-about {
  max-width: 515px;
  color: var(--main-color);
  font-size: 20px;
  font-weight: 400;
  opacity: 0.6;
  margin-bottom: 35px;
}

.header__btn {
  color: white;
  display: flex;
  gap: 30px;
  align-items: center;
}

.header-btn {
  color: #FFF;
  padding: 16px 35px;
  background: #247CC0;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}

.price-wrapper {
  display: flex;
  gap: 20px;
  font-size: 20px;
}

.closed {
  font-size: 16px;
  display: flex;
  align-items: center;
  opacity: 0.5;
  text-decoration: line-through;
}

.logos__line {
  display: flex;
  gap: 84px;
  justify-content: center;
  padding-bottom: 76px;
  box-shadow: 0px -1.73968px 1.20532px 0px rgba(174, 174, 174, 0.02), 0px 0.19008px 4.14347px 0px rgba(174, 174, 174, 0.03), 0px 6.77214px 9.61331px 0px rgba(174, 174, 174, 0.04), 0px 19.8401px 19.14056px 0px rgba(174, 174, 174, 0.05), 0px 43.751px 36.44142px 0px rgba(174, 174, 174, 0.06), 0px 100px 80px 0px rgba(174, 174, 174, 0.08);
}

.header {
  margin-bottom: 130px;
}

.shopbacket__area {
  position: absolute;
  right: -100%;
  z-index: 3px;
  background-color: rgba(233, 225, 236, 0.824);
  top: 30px;
  right: 0;
  height: 0px;
  width: 30vw;
  transition: height 0.2s ease;
  overflow: auto;
}

.shoobacket__text {
  margin-top: 45%;
  display: flex;
  justify-content: center;
}

.always__in__style-row {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 160px;
}

.always__item {
  display: flex;
  gap: 30px;
}

.always__in__style-about {
  max-width: 255px;
}

.always__title {
  font-size: 25px;
  font-weight: 600;
  margin-top: 35px;
  margin-bottom: 10px;
}

.always__about {
  font-size: 14px;
  font-weight: 400;
  opacity: 0.6;
  margin-bottom: 20px;
}

.always-price {
  font-size: 16px;
  margin-bottom: 15px;
}

.always-closed {
  font-size: 14px;
  margin-bottom: 15px;
}

.shop__now-row {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 100px;
}

.shop__now-item {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: linear-gradient(257deg, #008BF0 -13.2%, #D943C9 130.95%);
}

.shop__item-row {
  display: flex;
  position: relative;
}

.shop__item__first-row {
  padding-left: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.shop__above-text {
  color: #F4F9FC;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  opacity: 0.6;
  margin-bottom: 5px;
  padding-top: 75px;
  padding-right: 280px;
}

.shop__now-title {
  max-width: 250px;
  color: #F4F9FC;
  font-size: 31px;
  font-weight: 600;
  line-height: 40.3px;
  margin-bottom: 7px;
}

.shop__now-link {
  color: #F4F9FC !important;
  font-size: 14px;
  font-weight: 500;
  line-height: 27px;
  text-transform: uppercase;
  padding-bottom: 75px;
}

.shop__item__sec-row {
  padding-left: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  left: 40%;
}

.drone {
  top: 0;
}

.camera {
  top: 10%;
}

.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 130px;
}

.main {
  background: url(../../img/images/backg.jpg);
  background-size: auto 600px;
  background-position: bottom;
  background-repeat: no-repeat;
  margin-bottom: 125px;
}

.girl__img {
  background: url(../../img/images/girlvector.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  overflow: hidden;
  background-size: contain;
}

.about__text {
  margin-top: 45px;
  font-weight: 500;
  font-size: 14px;
  color: #C72535;
  letter-spacing: 2.32px;
  text-transform: uppercase;
}

.about__title {
  color: var(--main-color);
  font-size: 44px;
  font-weight: 600;
  margin-bottom: 30px;
}

.description:first-child {
  padding-top: 85px;
}

.description + * {
  margin-top: 35px;
}

.description {
  color: var(--main-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  opacity: 0.6;
}

.pluses {
  color: var(--main-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 27px;
}

.plus-li {
  display: flex;
  gap: 13px;
  align-items: flex-start;
  max-width: 375px;
  margin-bottom: 20px;
}

.arrow__img {
  transform: translateY(5px);
}

.new__product-about {
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: 14px;
  color: #C72535;
  letter-spacing: 2.32px;
  text-transform: uppercase;
}

.popular__title {
  display: flex;
  justify-content: center;
  color: var(--main-color);
  font-size: 44px;
  font-weight: 600;
  margin-bottom: 22px;
}

.filter__list {
  display: flex;
  justify-content: center;
  gap: 40px;
  color: var(--main-color);
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  opacity: 0.6;
  margin-bottom: 50px;
}

.filter-li {
  cursor: pointer;
}

.activated {
  color: #C72535;
  opacity: 1 !important;
}

.buy__name {
  color: var(--main-color);
  font-size: 25px;
  font-weight: 600;
}

.items__grid {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 55px;
}

.buy__item {
  flex-basis: 31.33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2.76726px 2.21381px 0px rgba(191, 191, 191, 0.02), 0px 6.6501px 5.32008px 0px rgba(191, 191, 191, 0.03), 0px 12.52155px 10.01724px 0px rgba(191, 191, 191, 0.04), 0px 22.33631px 17.86905px 0px rgba(191, 191, 191, 0.04), 0px 41.77761px 33.42209px 0px rgba(191, 191, 191, 0.05), 0px 100px 80px 0px rgba(191, 191, 191, 0.07);
}

.buy__item-about {
  color: var(--main-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  padding: 35px 35px;
}

.img__item {
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15%;
}

.hover__nav {
  display: flex;
  gap: 70px;
  padding: 35px 35px;
}

.none {
  display: none;
}

.buy__name {
  padding: 0 35px;
}

.stars {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  padding: 0 35px 30px;
}

.price-wrapper2 {
  padding: 0 35px;
}

.linker {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--main-color);
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 145px;
}

.linker a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buy__btn {
  color: white;
  border: rgb(3, 3, 3) 1.5px solid;
  border-radius: 10%;
  padding: 0 20px;
  background-color: rgb(211, 211, 211);
  transition: all 1s ease;
}

.buy__btn:hover {
  background-color: white;
  color: black;
}

.new__shop-above {
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: 14px;
  color: #C72535;
  letter-spacing: 2.32px;
  text-transform: uppercase;
}

.new__shop-title {
  display: flex;
  justify-content: center;
  color: var(--main-color);
  font-size: 44px;
  font-weight: 600;
  margin-bottom: 7px;
}

.new__shop-undertitle {
  display: flex;
  justify-content: center;
  text-align: center;
  color: var(--main-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 50px;
}

.gallery__img-about {
  display: flex;
  justify-content: center;
  color: var(--main-color);
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 15px;
}

.swiper-wrapper {
  display: flex;
}

.gallery {
  margin-bottom: 130px;
}

.gallery__swiper {
  display: flex;
  overflow: hidden;
}

.gallery_wrapper {
  display: flex;
  gap: 50px;
}

.iphone__img {
  width: 360px;
  height: 490px;
}

.gallery__img-advantages {
  opacity: 0.6;
}

.gallery__img-advantages {
  margin-top: 30px;
  display: flex;
  text-align: center;
}

.contact {
  background: var(--e-6-edf-2, #F4F9FC);
}

.contact__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contant__first-row {
  display: flex;
  flex-direction: column;
}

.contact__above {
  font-weight: 500;
  font-size: 14px;
  color: #C72535;
  letter-spacing: 2.32px;
  text-transform: uppercase;
  padding-top: 100px;
}

.contact__title {
  color: var(--main-color);
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 8px;
}

.contact__text {
  color: var(--main-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  max-width: 360px;
  opacity: 0.6;
  padding-bottom: 100px;
}

.sumbit__btn {
  padding: 13px 26px 14px 27px;
  background: #247CC0;
  color: white;
  text-transform: uppercase;
}

.subcribe__form__input {
  padding: 15px 162px 14px 26px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.subcribe__form__input::-moz-placeholder {
  color: var(--main-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  opacity: 0.4;
}

.subcribe__form__input::placeholder {
  color: var(--main-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  opacity: 0.4;
}

.form__contact {
  display: flex;
}

.footer {
  background: #030D15;
  color: white;
}

.footer__wrapper {
  padding-top: 80px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 56px;
}

.logo__about {
  font-size: 14px;
  font-weight: 400;
  width: 260px;
}

.footer__logo {
  margin-bottom: 22px;
}

.footer__info {
  max-width: 260px;
}

.footer__ul__li-title {
  margin-bottom: 26px;
}

.footer__ul-li {
  margin-bottom: 15px;
}

.footer__icons-line {
  display: flex;
  align-items: center;
  transform: translateY(18%);
  color: white;
}

.footer__icons {
  display: flex;
  gap: 25px;
}

.footer__language {
  display: flex;
  align-items: center;
  text-align: center;
}/*# sourceMappingURL=main.css.map */