.container {
	width: 1236px;
	margin: 0 auto;
	font-family: var(--main-font);
}

.link {
	transition: border-bottom 0.3s ease-in-out, color 0.3s ease-in;
	position: relative;
}

.link::after {
	content: '';
	position: absolute;
	bottom: -2px;
	left: 0;
	width: 0;
	border-bottom: 2px solid rgb(216, 212, 212);
	transition: width 0.3s ease-in-out;
}

.link:hover {
	color: rgb(234, 160, 236);
}

.link:hover::after {
	width: 100%;
}

.svg {
	fill: transparent;
	transition: fill 0.3s ease-in-out;
}

.svg:hover {
	fill: rgb(234, 160, 236);
}