.container {
	width: 1236px;
	margin: 0 auto;
	font-family: var(--main-font);
}

.link {
	transition: border-bottom 0.3s ease-in-out, color 0.3s ease-in;
	position: relative;
}

.link::after {
	content: '';
	position: absolute;
	bottom: -2px;
	left: 0;
	width: 0;
	border-bottom: 2px solid rgb(216, 212, 212);
	transition: width 0.3s ease-in-out;
}

.link:hover {
	color: rgb(234, 160, 236);
}

.link:hover::after {
	width: 100%;
}

.svg {
	fill: transparent;
	transition: fill 0.3s ease-in-out;
}

.svg:hover {
	fill: rgb(234, 160, 236);
}
.zoom {
	transition: transform .2s;

}
.zoom:hover {
	transform: scale(1.1);
}
.hide {
	display: none !important;
	opacity: 1;
	animation-name: a1;
	animation-duration: 2s;
	animation-fill-mode: forwards;
}
.activatedB{
	height: 60vh !important;
}
@keyframes a1{
	to {
		opacity: 0;
		min-height: 0;
		min-width: 0;
		padding: 0;
		margin: 0;
		border: 0;	
	}
}
