:root {
	--main-color: #030D15;
	--main-font: Hind Siliguri, sans-serif;
	--size-about: 14px;
}

@mixin saleText($size: 16px){
	font-weight: 500;
	font-size: $size;
	color: #C72535;
	letter-spacing: 2.32px;
	text-transform: uppercase;
}