@import './vars.scss';
@import './reset';
@import './blocks/header';
@import './blocks/section-main';
@import './blocks/section-items';


.container{
	width: 1236px;
	margin: 0 auto;
	font-family: var(--main-font);
}
