/////////////////////NAV//////////

.header__nav {
	padding-top: 32px;
	margin-bottom: 85px;
	display: flex;
	justify-content: space-between;

	align-items: center;
	text-transform: uppercase;
	font-weight: 500;
	font-size: var(--size-about);
}

.nav__menu {
	display: flex;
	gap:40px;
}

.nav__li a{
	display: flex;
	gap:8px;
}


.shops {
	position: relative;
	display: flex;
	gap:30px;
	align-items: center;

}

/////////////////////NAV//////////



.header__row {
	display: flex;
	gap:30px;
	margin-bottom: 40px;
}

.first__row {
	display: flex;
	flex-direction: column;
}

.header__about-top {
	margin-top:75px;
	@include saleText(16px);
}

.header__title {
	color:  var(--main-color);
	font-size: 61px;
	font-weight: 400;
	line-height: 73.2px;
	max-width: 555px;
	margin-bottom: 30px;
}

.header__span {
	color:#247CC0;
	font-weight: 600;
}

.header__title-about {
	max-width: 515px;
	color: var(--main-color);
	font-size: 20px;
	font-weight: 400;
	opacity: 0.6;
	margin-bottom: 35px;
}
.header__btn {
	color: white;
	display: flex;
	gap:30px;
	align-items: center;
}

.header-btn {
	color: #FFF;
	padding: 16px 35px;
	background: #247CC0;
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
}

.price-wrapper {
	display: flex;
	gap:20px;
	font-size: 20px;
}
.closed {
	font-size: 16px;
	display: flex;
	align-items: center;
	opacity: 0.5;
	text-decoration: line-through;
}
.logos__line{
	display: flex;
	gap:84px;
	justify-content: center;
	padding-bottom: 76px;
	box-shadow: 0px -1.73968px 1.20532px 0px rgba(174, 174, 174, 0.02), 0px 0.19008px 4.14347px 0px rgba(174, 174, 174, 0.03), 0px 6.77214px 9.61331px 0px rgba(174, 174, 174, 0.04), 0px 19.8401px 19.14056px 0px rgba(174, 174, 174, 0.05), 0px 43.751px 36.44142px 0px rgba(174, 174, 174, 0.06), 0px 100px 80px 0px rgba(174, 174, 174, 0.08);
}
.header{
	margin-bottom: 130px;
}

.shop__backet{
}

.shopbacket__area{
	position: absolute;
	right: -100%;
	z-index: 3px;
	background-color: rgba(233, 225, 236, 0.824);
	top:30px;
	right:0;
	height: 0px;
	width:30vw;
	transition: height 0.2s ease;
	overflow: auto;
}
.shoobacket__text{
	margin-top:45%;
	display: flex;
	justify-content: center;
}