.new__shop {

}

.new__shop-above {
	display: flex;
	justify-content: center;
	@include saleText(14px);
}

.new__shop-title {
	display: flex;
	justify-content: center;

	color: var(--main-color);
	font-size: clamp(1.875rem, 1.557rem + 1.59vw, 2.75rem);
	font-weight: 600;

	margin-bottom: 7px;
}

.new__shop-undertitle {
	display: flex;
	justify-content: center;
	text-align: center;

	color: var(--main-color);
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;

	margin-bottom: 50px;

}
.gallery__img-about{
	display: flex;
	justify-content: center;

	color: var(--main-color);
	font-size: 20px;
	font-weight: 500;

	margin-bottom: 15px;
}
.swiper-wrapper{
	display: flex;
}

.gallery{
	margin-bottom: clamp(3.75rem, 2.159rem + 7.95vw, 8.125rem);
}
.gallery__swiper{
	display: flex;
	overflow: hidden;
}
.gallery_wrapper{
	display: flex;
	gap:50px;
}
.iphone__img{
	width: 360px;
	height: 490px;
}
.gallery__img-advantages{
	opacity: 0.6;
}
.gallery__img-advantages{
	margin-top:30px;
	display: flex;
	text-align: center;
}
@media (max-width: 1024px){
	.gallery_wrapper{
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
	}
	.gallery__img-advantages{
		max-width: 500px;
	}
	.new__shop-title{
		display: flex;
		text-align: center;
	}
}