.new__product-about {
	display: flex;
	justify-content: center;
	@include saleText(14px);
}

.popular__title {
	display: flex;
	justify-content: center;

	color: var(--main-color);
	font-size: 44px;
	font-weight: 600;

	margin-bottom: 22px;
}

.filter__list {
	display: flex;
	justify-content: center;
	gap: clamp(0.938rem, 0.369rem + 2.84vw, 2.5rem);

	color: var(--main-color);
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
	opacity: 0.6;

	margin-bottom: 50px;
}
.filter-li {
	cursor: pointer;
}
.activated{
	color: #C72535;
	opacity: 1 !important;
}
.buy__name {
	color: var(--main-color);
	font-size: 25px;
	font-weight: 600;
}
.items__grid {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	
	margin-bottom: 55px;
}

.buy__item{
	flex-basis: calc(31.33%);
	display: flex;
	flex-direction: column;
	justify-content: center;
	border: 1px solid rgba(0, 0, 0, 0.10);
	box-shadow: 0px 2.76726px 2.21381px 0px rgba(191, 191, 191, 0.02), 0px 6.6501px 5.32008px 0px rgba(191, 191, 191, 0.03), 0px 12.52155px 10.01724px 0px rgba(191, 191, 191, 0.04), 0px 22.33631px 17.86905px 0px rgba(191, 191, 191, 0.04), 0px 41.77761px 33.42209px 0px rgba(191, 191, 191, 0.05), 0px 100px 80px 0px rgba(191, 191, 191, 0.07);
}

.buy__item-about {
	color: var(--main-color);
	font-size: 16px;
	font-weight: 400;
	line-height: 27px;
	padding: 35px 35px;
}
.img__item{
	width: 250px;
	height: 250px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left:15%;
}
.hover__nav {
	display: flex;
	gap:70px;
	padding: 35px 35px;
}

.none {
	display: none;
}
.buy__name {
	padding: 0 35px;
}
.stars {
	font-size: 20px;
	display: flex;
	justify-content: space-between;
	padding: 0 35px 30px;
}
.price-wrapper2 {
	padding: 0 35px;
}
.linker{
	display: flex;
	justify-content: center;
	align-items: center;
	gap:10px;

	color: var(--main-color);
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;

	margin-bottom: 145px;
}
.linker a{
	display: flex;
	justify-content: center;
	align-items: center;
}
.buy__btn{
	color:white;
	border: rgb(3, 3, 3) 1.5px solid;
	border-radius: 10%;
	padding: 0 20px;
	background-color: rgb(211, 211, 211);
	transition: all 1s ease;
}
.buy__btn:hover{
	background-color: white;
	color:  black;
}

@media (max-width: 1030px){
	.items__grid{
		justify-content: center;
	}
	.buy__item {
		flex-basis: calc(45.33%)
	}
	.popular__title{
		justify-content: center;
		font-size: clamp(1.875rem, 1.557rem + 1.59vw, 2.75rem);
	}
}
@media (max-width: 690px) {
	.buy__item {
			flex-basis: calc(80.33%)
	}
	.img__item{
		display: flex;
		justify-content: center;
		margin-left: 0;
	}
	.buy__item-img{
		height: clamp(11.875rem, 10.511rem + 6.82vw, 15.625rem) ;
		width: clamp(11.875rem, 10.511rem + 6.82vw, 15.625rem) ;
	}
	.filter-li{
		display: flex;
		text-align: center;
	}
}