.always__in__style-row {
	display: flex;
	justify-content: center;
	gap:40px;
	margin-bottom: 160px;
}

.always__item {
	display: flex;
	gap: 30px;
}

.always__in__style-about {
	max-width: 255px;
}

.always__title {
	font-size: 25px;
	font-weight: 600;
	margin-top: 35px;
	margin-bottom: 10px;
}

.always__about {
	font-size: 14px;
	font-weight: 400;
	opacity: 0.6;
	margin-bottom: 20px;
}
.always-price{
	font-size: 16px ;
	margin-bottom: 15px;
}
.always-closed{
	font-size: 14px;
	margin-bottom: 15px;
}
.shop__now-row {
	display: flex;
	justify-content: center;
	gap:30px;
	margin-bottom: 100px;
}

.shop__now-item {
	border: 1px solid rgba(0, 0, 0, 0.10);
	background: linear-gradient(257deg, #008BF0 -13.2%, #D943C9 130.95%);
}

.shop__item-row {
	display: flex;
	position: relative;
}

.shop__item__first-row {
	padding-left: 35px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.shop__above-text {
	color: #F4F9FC;
	font-size: 16px;
	font-weight: 500;
	text-transform: uppercase;
	opacity: 0.6;
	margin-bottom: 5px;
	padding-top: 75px;
	padding-right: 280px;
}

.shop__now-title {
	max-width: 250px;
	color: #F4F9FC;
	font-size: 31px;
	font-weight: 600;
	line-height: 40.3px;
	margin-bottom: 7px;
}

.shop__now-link {
	color: #F4F9FC;
	font-size: 14px;
	font-weight: 500;
	line-height: 27px;
	text-transform: uppercase;
	padding-bottom: 75px;
}

.shop__item__sec-row {
	padding-left: 35px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: absolute;
	left: 40%;
}
.drone{
	top:0;
}
.camera{
	top: 10%;
}

.about {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap:130px;
}
.main {
	background: url(../../img/images/backg.jpg);
	background-size: auto 600px;
	background-position: bottom;
	background-repeat: no-repeat;
	margin-bottom: 125px;
}
.girl__img{
	background: url(../../img/images/girlvector.svg);
	background-repeat: no-repeat;
	background-position: bottom;
	overflow: hidden;
	background-size: contain;
}
.about__text {
	margin-top: 45px;
	@include saleText(14px);

}

.about__title {
	color: var(--main-color);
	font-size: 44px;
	font-weight: 600;
	margin-bottom: 30px;
}
.description:first-child{
		padding-top: 85px;
}
.description + *{
	margin-top: 35px;
}
.description {
	color: var(--main-color);
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	opacity: 0.6;
}

.pluses {
	color: var(--main-color);
	font-size: 14px;
	font-weight: 500;
	line-height: 27px;
}

.plus-li {
	display: flex;
	gap:13px;
	align-items: flex-start;
	max-width: 375px;
	margin-bottom: 20px;
}
.arrow__img{
	transform: translateY(5px) ;
}